#btn0 {
    background-image: url("../../assets/0.jpg");
    width: 75px;
    height: 75px;
    background-size: cover;
}
#btn1f {
    background-image: url("../../assets/1f.jpg");
    width: 75px;
    height: 75px;
    background-size: cover;
}
#btn2f {
    background-image: url("../../assets/2f.jpg");
    width: 75px;
    height: 75px;
    background-size: cover;
}
#btn3f {
    background-image: url("../../assets/3f.jpg");
    width: 75px;
    height: 75px;
    background-size: cover;
}
#btn4f {
    background-image: url("../../assets/4f.jpg");
    width: 75px;
    height: 75px;
    background-size: cover;
}
#btn5f {
    background-image: url("../../assets/5f.jpg");
    width: 75px;
    height: 75px;
    background-size: cover;
}
#btn6f {
    background-image: url("../../assets/6f.jpg");
    width: 75px;
    height: 75px;
    background-size: cover;
}
#btn7f {
    background-image: url("../../assets/7f.jpg");
    width: 75px;
    height: 75px;
    background-size: cover;
}
#btn1s {
    background-image: url("../../assets/1s.jpg");
    width: 75px;
    height: 75px;
    background-size: cover;
}
#btn2s {
    background-image: url("../../assets/2s.jpg");
    width: 75px;
    height: 75px;
    background-size: cover;
}
#btn3s {
    background-image: url("../../assets/3s.jpg");
    width: 75px;
    height: 75px;
    background-size: cover;
}
#btn4s {
    background-image: url("../../assets/4s.jpg");
    width: 75px;
    height: 75px;
    background-size: cover;
}
#btn5s {
    background-image: url("../../assets/5s.jpg");
    width: 75px;
    height: 75px;
    background-size: cover;
}
#btn6s {
    background-image: url("../../assets/6s.jpg");
    width: 75px;
    height: 75px;
    background-size: cover;
}
#btn7s {
    background-image: url("../../assets/7s.jpg");
    width: 75px;
    height: 75px;
    background-size: cover;
}